* {
    margin: 0;
    padding: 0;
    position:relative;
}

body {
    background: 0 #e65d5d;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.head{
    width: 1000px;
    margin: 0 auto;
}

header {
    background: #ffffff;
    height: 200px;
}

header h1 {
    float: left;
    margin: 46px 0 0 37px;
}

.content {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: #ffffff;
}

nav {
    float: left;
    clear: left;
}

nav li {
    float: left;
    margin: 70px 20px 0 47px;
}

nav li a {
    color: #6b6b6b;
    font-size: 18px;
}

.heading {
    float: left;
    font-size: 20px;
    padding:50px 0 0 24px;
    color:#f2ac04;
}

.heading_1 {
    float: left;
    padding-left: 24px;
    font-size: 14px;
    color:#929292;
}

nav hr {
    margin-left: 47px;
}

.horizontal_line {
    top: 60px;
    width: 900px;
}

.horizontal_line_1 {
    top: 5px;
    width: 900px;
}

.line {
    border-right: 1px solid gray;
    padding-right: 40px;
    height: 50px;

}

.text-1 {
    font-size: 12px;
    font-weight: bold;
    padding: 75px 0 0 57px;
    color:#555656;
}

.content li:nth-child(1) {
    padding: 12px 0 0 57px;
    position: relative;

}

.content li:nth-child(2) {
    bottom: 52px;
    left: 57px;
}

.content li:nth-child(3) {
    bottom: 356px;
    left: 54px;
}

.content li:nth-child(4) {
    left: 71px;
    bottom: 397px;
}

.content li:nth-child(5) {
    bottom: 423px;
    left: 465px;
}

.banner1_text {
    bottom: 448px;
    left: 129px;
    color:#666666;
}

.banner_2 li:nth-child(1) {
    left: 470px;
    bottom: 744px;
}

.image_text {
    font-size: 26px;
    float: right;
    margin-right: 55px;
    bottom: 883px;
    text-transform: uppercase;
    color:#ffffff;
}

.image_text_1 {
    font-size: 40px;
    float: right;
    left: 260px;
    bottom: 850px;
    text-transform: uppercase;
    color:#ffffff;
}

.horizontal_line_2 {
    float: right;
    margin-right: 22px;
    bottom: 830px;
    width:450px;
    height:1px;
    background-color:#040404;
    border:none;
}
.text-4 {
    float: right;
    font-size: 12px;
    left: 445px;
    bottom: 820px;
    color:#3c3c3c;
}
.block_1 {
    width:57px;
    height: 15px;
    background: #2b2b29;
    color:white;
    font-size: 12px;
    padding-left:5px;
    float:right;
    bottom:816px;
    margin-right:37px;
}
.arrow {
    font-size:20px;
    color:white;
    bottom:673px;
    left:951px;
}
.horizontal_line_3 {
    color:#cccccc;
    bottom:770px;
    left:55px;
    width:900px;
}
.block_line {
    border-right:1px solid white;
    width:1px;
    height: 15px;
    bottom:693px;
    left:945px;
}
/*li1 {
    float:left;
    margin:37px 0 0 -24px;
}
li2 {
    float:left;
    margin:78px 0 0 44px;
}
li3 {
    float:left;
    margin:78px 0 0 40px;
}
li4 {
    float:left;
    margin:138px 0 0 -105px;
}
li5 {
    float:left;
    margin:300px 0 0 -50px;
}
li6 {
    float:left;
    margin:-265px 0 0 323px
}
.wrapper2 {
    width:1000px;
    margin:0 auto;
    background:#ffffff;
    height:300px;
}
li7 {
    float:left;
    margin:-350px 0 0 45px;
}
li8 {
    float:left;
    margin:50px 0 0 445px;
}
li9{
    float:left;
    margin:20px 0 0 300px;
}
li10 {
    margin:-215px 0 0 0;
    float:left;
}
li11 {
    float: left;
    margin: -380px 0 0 870px;
} */

