* {
    margin: 0;
    padding: 0;
}

body {
    background: 0 #e65d5d;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: #ffffff;
    height: 200px;
}

header h1 {
    float: left;
    margin: 46px 0 0 37px;
}

.wrapper1 {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: #ffffff;
}

nav {
    float: left;
    clear: left;
}

nav li {
    float: left;
    margin: 70px 20px 0 47px;
}

nav li a {
    color: #6b6b6b;
    font-size: 18px;
}

.div1 {
    float: left;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 24px;
    padding-bottom: -50px;
}

.div2 {
    float: left;
    padding-left: 24px;
    font-size: 14px;
}

nav hr {
    margin-left: 47px;
}

.div3 {
    position: relative;
    top: 60px;
}

.div4 {
    position: relative;
    top: 5px;
}

.line {
    position: relative;
    border-right: 1px solid gray;
    padding-right: 40px;
    height: 50px;

}

.text-1 {
    font-size: 12px;
    font-weight: bold;
    padding: 75px 0 0 57px;

}

.wrapper1 li:nth-child(1) {
    padding: 12px 0 0 57px;
    position: relative;

}

.wrapper1 li:nth-child(2) {
    position: relative;
    top: -52px;
    left: 57px;
}

.wrapper1 li:nth-child(3) {
    position: relative;
    bottom: 356px;
    left: 54px;
}

.wrapper1 li:nth-child(4) {
    position: relative;
    left: 71px;
    bottom: 397px;
}

.wrapper1 li:nth-child(5) {
    position: relative;
    bottom: 423px;
    left: 465px;
}

.div5 {
    position: relative;
    bottom: 448px;
    left: 129px;
}

.banner2 li:nth-child(1) {
    left: 470px;
    bottom: 744px;
}

.text-2 {
    position: relative;
    font-size: 26px;
    float: right;
    margin-right: 55px;
    margin-top: -880px;
    text-transform: uppercase;
}

.text-3 {
    position: relative;
    font-size: 40px;
    float: right;
    margin-right: 190px;
    margin-top: -850px;
    text-transform: uppercase;
}

.div6 {
    position: relative;
    float: right;
    margin-right: 21px;
    margin-top: -740px;
}
.text-4 {
    position: relative;
    float: right;
    font-size: 12px;
    margin-right: 28px;
    margin-top: -730px;
}
.block1 {
    position: relative;
    width:57px;
    height: 15px;
    background: #2b2b29;
    color:white;
    font-size: 12px;
    padding-left:5px;
    float:right;
    margin-top:-670px;
    margin-right:37px;
}
.line1 {
    position: relative;
    border:1px solid white;
    width:1px;
    height:15px;
    bottom:670px;
    left:947px;
}
.arrow {
    position: relative;
    font-size:20px;
    color:white;
    bottom:688px;
    left:951px;
}
.div7 {
    position: relative;
    color:#cccccc;
    bottom:650px;
    left:55px;
}
/*li1 {
    float:left;
    margin:37px 0 0 -24px;
}
li2 {
    float:left;
    margin:78px 0 0 44px;
}
li3 {
    float:left;
    margin:78px 0 0 40px;
}
li4 {
    float:left;
    margin:138px 0 0 -105px;
}
li5 {
    float:left;
    margin:300px 0 0 -50px;
}
li6 {
    float:left;
    margin:-265px 0 0 323px
}
.wrapper2 {
    width:1000px;
    margin:0 auto;
    background:#ffffff;
    height:300px;
}
li7 {
    float:left;
    margin:-350px 0 0 45px;
}
li8 {
    float:left;
    margin:50px 0 0 445px;
}
li9{
    float:left;
    margin:20px 0 0 300px;
}
li10 {
    margin:-215px 0 0 0;
    float:left;
}
li11 {
    float: left;
    margin: -380px 0 0 870px;
} */

